/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* main app background */
.header-bg {
  background: #0d1117;
}
.main-app {
  background: #0d1117;
}

.covid-bg {
  background: #202124;
}

/* live cases component */
.live-case-component {
  max-width: 768px;
  margin: auto;
  margin-top: 40px;
}
/* map height */
.map-h {
  height: 550px;
}
.cart-select-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
